<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- hbs file this sytax here is used to output to a variable passed from nodejs express --}}

{{!-- title refers if we go back to the index.js JS file responsible for rendering this view refers to this title --}}
{{!-- pass this view or pass to this render function --}}